@charset "UTF-8";
h1{
    color: hotpink;
    border-bottom: 10px solid purple;
}
h2{
    font-style: italic;
}
p{
    font-size: 20px;
}
.job-title{
    color: #999999;
    font-weight: bold;
}
ul{
    background-color: #eeeeee;
    border: 5px solid purple;
    font-size: 20px;
    padding: 30px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: green;
}