* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
  background: url('../img/imagem-superior.png') top no-repeat,
              url('../img/imagem-inferior.png') bottom no-repeat,
              linear-gradient(to top, #ffffff, #eceae7,#c1c1c1) top/100% 17% no-repeat,
              linear-gradient(to bottom, #ffffff, #eceae7,#c1c1c1) bottom/100% 17% no-repeat,
              #ffffff;
  border: 1px solid black;
  border-top: 1mm solid #990000;
  border-bottom: 1mm solid #990000;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 100%;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.822) ;
  background-image: url('../img/logo.png');
}

/*  */
